<style>
  .ywv-faq-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq-link {
      color: #000;
      font-size: 16px;
  }
</style>

<div class="ywv-faq-wrap">
  <a href="javascript:void(0);" class="faq-link" id="faqLinkBtn">{{ block.settings.faq_text }}</a>
  <!-- <div id="originalContent" style="display: none;">{{ block.settings.faq_content }}</div> -->
</div>

